<h1>Videos#index</h1>
<p>Find me in app/views/videos/index.html.erb</p>
<% if user_signed_in? %>
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'sing_up', new_user_registration_path %>
<% end %>
