@import "bootstrap";
@import "font-awesome";

/* universal */

main > .container {
  padding: 60px 15px 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

.footer {
  background-color: #f5f5f5;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* home */

.jumbotron {
  background-image: url("felix-mooneeram-222805-unsplash.jpg");
  background-size: cover;
  background-position: center 60%;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: rgba(0,0,0,0.6);
  .container p {
    color: white;
  }
}

.jumbotron-heading {
  font-family: 'Oswald', sans-serif;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 4em;
}

/* sign in form */

.card-body {
  max-width: 400px;
  padding: 60px 20px;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}